
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="container-fluid">
        @Html.ActionLink("Master", "Index", "Master", null, new { @class = "btn btn-primary p-3 rounded" })
        @Html.ActionLink("Category", "Index", "CategoryMaster", null, new { @class = "btn btn-primary  p-3 rounded" })
        @Html.ActionLink("Sub Category", "Index", "SubCategoryMaster", null, new { @class = "btn btn-primary  p-3 rounded" })
        @Html.ActionLink("News", "Index", "NewsMasters", null, new { @class = "btn btn-primary  p-3 rounded" })
    </div>
   
</div>
